%br
%br
%br
%br
%h1 List of users
%table#users
  %thead 
    %tr
      %th Email
      %th Username
      %th Name
      %th Surname
      %th Block this user
      %th Unblock this user
    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.username
          %td= user.name
          %td= user.surname
          %td= link_to "Block "+ user.email, edit_user_path(id: user.id, operation: 'block')
          %td= link_to "Unblock "+ user.email, edit_user_path(id: user.id, operation: 'unblock')     
%br
%div #{link_to "Back to welcome page", root_path}