<html>
    <head>
        <title>Forgotten password</title>
        <%= stylesheet_link_tag('forgotten_psw.css') %>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
    
      <div class="container">
        <br>
        <h2>Forgot your password?</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <br>

            <div class="actions">
              <%= f.submit "Send me reset password instructions" %>
            </div>
          <% end %>
          <br>
          <%= render "devise/shared/links" %>
          <br>
      </div>
      <div class="footer">
        <div id="social_sez" class="social_sez" text-align="center">
          <h5>Follow us on:</h5>
          <a href="https://www.facebook.com/Smart-Wandering-106566171072452/" class="fa fa-facebook"></a>
          <a href="https://www.instagram.com/smartwanderinginrome/?hl=it" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-youtube-play"></a>
        </div>
            
        <div class="logo_sez" align="left">
            <img id="foto_logo_sez" src="../Images/sapienza.png" alt="logo sapienza">
        </div>
        <div class="developers" class="footer_element">
          <a href="aboutus">About Us</a>
        </div>       
      </div>
    </body>
</html>