%br
%br
%br
%br
%h1 Reviews about #{@artwork.nome}
%table#reviews
  %thead 
    %tr
      %th Rating
      %th Comment
      %th Delete review
    %tbody
      - @reviews.each do |review|
        %tr
          %td= review.valutation
          %td= review.comment
          %td= link_to "Delete", artwork_review_path(review_id: review.id) , :method => :delete
%br
%div #{link_to "Back to artwork details", artwork_path(@artwork.id)}